/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #000;   /* latar belakang hitam */
  color: #fff;
}

/* Navbar */
.container-navbar {
  background: #111;
  padding: 15px 0;
}

.ul-navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.a-navbar {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.a-navbar:hover { color: red; }

.container-conten {
  height: calc(100vh - 120px);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box{
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  width: 90%;
}

.img-container {
  width: 100%;
  height: auto;
  object-fit: contain; /* logo proporsional */
}

/* Footer */
.container-footer {
  background: #111;
  text-align: center;
  padding: 20px;
}

.footer-1 {
  font-size: 16px;
  color: #ddd;
}